@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
}
